.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.8rem 0 2.8rem;

}
.artwork-detail-container-renamed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-img-container-renamed {
  background-color: #ededed;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.artwork-detail-container-renamed img {
  width: 100%;
  max-width: 900px;
  padding: 30px 500px 20px 500px;
  
}

.artwork-title-renamed {
  font-size: 1.5rem;
  padding: 40px;
  margin-bottom: -15px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #1d1d1d;
  text-align: center;
  margin-top: 0px;
}

.artwork-date-renamed {
  font-size: 1.2rem;
  color: #8c8c8c;
  text-align: center;
  font-family: "Merriweather", serif;
  margin-top: 10px;
}

.artwork-artist-renamed {
  font-size: 1.2rem;
  color: #8c8c8c;
  text-align: center;
  cursor: pointer;
  font-family: "Merriweather", serif;
}

.artwork-description-renamed {
  font-size: 0.98rem;
  color: #404040;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.2;
  max-width: 900px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3%;
  margin-top: 50px;
}

.artwork-buttons-container-renamed {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.artwork-toggle-favourite-button-renamed,
.artwork-save-comment-button-renamed,
.artwork-cancel-comment-button-renamed,
.artwork-edit-comment-button-renamed {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.artwork-toggle-favourite-button-renamed:hover,
.artwork-save-comment-button-renamed:hover,
.artwork-cancel-comment-button-renamed:hover,
.artwork-edit-comment-button-renamed:hover {
  background-color: #555;
}

.artwork-rainbow-button-renamed {
  background: #f5f5f5; /* Background color of the button */
  color: #000; /* Text color */
  padding: 8px 18px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: color 0.6s, border-color 0.6s;
  border: 1.5px solid rgb(128, 67, 190); 
  /* border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1; */
}

.artwork-rainbow-button-renamed:hover {
  color: #000;
}





.artwork-generated-container-renamed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #fff3cd;
  padding: 20px;
  width: 100%;
  position: relative;
}

.artwork-comments-section-renamed {
  /* margin-top: 20px; */
  width: 100%;
}

.artwork-comments-section-renamed h2 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 20px;
}

.artwork-comments-section-renamed p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;

}
.artwork-comments-section-renamed div {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

}

.artwork-comments-section-renamed input {
  width: calc(100%);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.artwork-comments-section-renamed button {
  padding: 7px 18px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #1c1c1c;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(10, 10, 10); 

}

.artwork-comments-section-renamed button:hover {
  background-color: #555;
}

.close-button-renamed {
  position: absolute;
  color: white;
  right:2rem;
  border: none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.close-button-renamed:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.separtor {
  border: 0.1px solid rgb(210, 210, 210);
  margin: 30px 0;
  width: 100%;
}

.separtor1{
  border: 0.1px solid rgb(210, 210, 210);
  margin: 20px 0;
  width: 100%;
}

.like-button img{
  padding: 0px 0px 0px 0px;
  height: 30px;
}