.wishlist-container {
  width: 100%;
  padding: 0 2.8rem 0 2.8rem;
  box-sizing: border-box; /* Include padding in the element's total width */

}

h2 {
  text-align: center;
}

.wishlist-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the grid items */
}

.wishlist-item {
  width: calc(50% - 10px); /* Adjust width to allow for gaps */
  position: relative;
  cursor: pointer;
  background-color: #eaeaea;
  overflow: hidden; /* Ensure no overflow of content */
}

.wishlist-item-image {
  width: 92%;
  height: 400px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensure the image covers the container */
  padding: 23px 20px 10px 20px
}

.remove-item-button {
  position: absolute;
  top: -0px;
  right: 2px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(166, 166, 166); /* Grey color for the cross */
}

.wishlist-item p {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}