.my-artworks-container {
  width: 100%;
  padding: 0 2.8rem 0 2.8rem;
  box-sizing: border-box; 
}

h2 {
  text-align: center;
  margin-bottom: 0px;
}

hr {
  margin-bottom: 20px;
}

.my-artworks-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the grid items */
  margin-top: 20px;
}

.my-artwork-item {
  width: calc(50% - 10px); /* Adjust width to allow for gaps */
  position: relative;
  cursor: pointer;
  background-color: #eaeaea;
  overflow: hidden; /* Ensure no overflow of content */
}

.my-artwork-image {
  width: 92%;
  height: 400px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensure the image covers the container */
  padding: 23px 20px 10px 20px;
}

.my-artwork-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px 10px 10px ;
}

.my-artwork-delete-button,
.my-artwork-edit-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.my-artwork-delete-button {
  background-color: red;
  color: white;
  width: 45%;
}

.my-artwork-edit-button {
  background-color: black;
  color: white;
  width: 45%;
}
.my-artworks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-artworks-header h2 {
  margin-bottom: 20px;
}

.upload-an-artwork {
  height: 30px;
  width: 30px;
}