.artshop-order-container {
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 2.3rem;
  color: #414141;
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin-left: 0px;
  display: flex;
  padding-bottom: 0px;
}

.cart-content {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart-items {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Centering horizontally */
  margin-bottom: 20px;
  position: relative;
  background-color: #f0f0f0; /* Grey background */
  width: 100%; /* Full width */
  height: 400px; /* Set a fixed height for the container */
  padding: 1rem; /* Add padding to the container */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.cart-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.remove-item-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: grey;
}

.order-details {
  width: 40%;
  border-left: 1px solid #ccc;
  padding: 0px 20px 20px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  display: flex;
  font-weight: 500;
}

.order-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.purchase-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}