.purchased-artworks-container {
  width: 100%;
}

h2 {
  text-align: center;
}

.purchased-artworks-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the grid items */
  margin-top: 20px;
}

.purchased-artwork-item {
  width: calc(50% - 10px); /* Adjust width to allow for gaps */
  position: relative;
  cursor: pointer;
  background-color: #eaeaea;
  overflow: hidden; /* Ensure no overflow of content */
}

.purchased-artwork-image {
  width: 92%;
  height: 400px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensure the image covers the container */
  padding: 23px 20px 10px 20px
}

.purchased-artwork-item p {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}